.card {
    max-width: 30em;
    padding: 8px 40px 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-image {
    width: 8em;
    border-radius: 0.3rem;
}

.card-info {
    width: 35rem;
}

.location-info {
    width: 20rem;
    padding-left: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.country {
    padding: 0 12px 0 4px;
    text-align: center;
    font-weight: 400;
    font-size: 0.63rem;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.link, a {
    color: #918E9B;
    font-size: 0.63rem;
    font-weight: 400;
}

.card-title {
    margin-top: 4px;
    height: 2.06rem;
    font-size: 1.56rem;
    padding-left: 19px;
}

.dates {
    margin-top: 14px;
    height: 0.69rem;
    font-size: 0.63rem;
    font-weight: 800;
    padding-left: 19px;
}

.description {
    margin-top: 9px;
    padding-left: 19px;
    font-size: 0.63rem;
    font-weight: 500;
    line-height: 15px;
}